.main-nav__list-item {
    display: inline-block;
    border-right: 2px solid grey;
}

.main-nav__list-item:last-child {
    border: none;
}

.main-nav__list-item-link {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

.main-nav__list-item-link:hover {
    background: lightgreen;
}

.main-nav__list-item-link:active {
    background: lightblue;
}