.Admin {
    border: 1px solid cadetblue;
    padding: 20px;
}

.Admin .row {
    display: flex;
    margin-bottom: 10px;
}

.Admin .title {
    width: 20%;
    margin: 0 20px 0 0;
    padding: 10px;
    text-align: right;
}

.Admin .field {
    width: 70%;
}

.Admin .text-content {
    resize: none;
    height: 100px;
    padding: 10px;
}

.Admin .btn-block {
    text-align: center;
}

.btn-block .btn-save {
    font-weight: bold;
    padding: 10px 20px;
}